*{
    box-sizing: border-box;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-family: "Open Sans", sans-serif; */
    color: #272829;
}


.container{
    display: flex;

}
.Aside {
    background-color: rgba(4, 11, 20, 255);
    width: 23.2%;
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
}
/* .Aside::-webkit-scrollbar {
    display: none;
} */
.topAside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.topAside img {
    border-radius: 50% !important;
    border: 8px solid #2c2f3f;
    margin-top: 35px
}

.topAside h2 {
    color: white;
}



.icon i {
    padding: 10px;
    background-color: rgba(44, 47, 63, 255);
    border-radius: 50%;
    margin-right: 5px;
}
.fa-facebook-f{
    width: 35px;
}

.icon i:hover {
    background-color: rgba(20, 157, 221, 255);
}
.nav ul{
    margin-top: 35px 
}
.nav ul li {
    margin-top: 41px;
    list-style: none;
}

.nav ul li a {
    list-style: none;
    text-decoration: none;
    color: rgba(153,165,169,255);
    font-size: 17px;
}
.nav ul li a i{
    margin-right: 8px;
}
.nav ul li:hover a{
color: #fff;
}
.nav ul li:hover i{
    color: rgba(20, 157, 221, 255);
    }

.bi{
    font-size: 18px ;
}
.main{
    width: 77%;
    margin-left: 23.2%;
    overflow-x: hidden;
}
.background-img {
    width: 100%;
    height: 100vh;
    background-image: url('./image/background-image.JPG');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; /* Adjust the percentage to control the zoom level */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.88;
}
.background-img h1{
    margin: 0px;
    color: white;
    font-size: 50px;
}
.typing{
    color: white;
    font-size: 26px;
    border-bottom: 3px solid #149ddd;
}
.Screen-text{
    margin-left: 105px;
}
.Screen-text p{
    width: 50%;
    color: #fff;
}
.hello{
    color: #fff;
}
.hello span{
    font-family: 'clicker script' , cursive;
    font-weight: 700;
    color: rgba(20, 157, 221, 255);
    font-size: 33px;
}
.about-details-1 i {
    font-size: 18px;
    color: rgba(20, 157, 221, 255);
}
.about-section{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}
.about-text h1{
    height: 60px;
    width: 51px;
    position: relative;
    border-bottom: 3px solid #149ddd;
    color: #173b6c;
    font-size: 32px;
}
.about-text p{
    font-size: 17px;
}
.about-right{
    display: flex;
    justify-content: center;
    
}
.about-img img{
    max-width: 100%;
   height: auto;
   padding-top: 27px
}
.about-content{
    margin-left: 30px;
}
.about-content h2{
    color: #173b6c;
}
.about-details-1{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.about-details-1 ul{
    padding: 0px;
}
.about-details-1 ul li{
    display: flex;
    list-style: none;
}
.about-details-1 ul li h4{
    font-size: 17px;
    margin: 7px;
}
.about-details-1 ul li h4 span{
    font-weight: normal;
    margin-left: 5px;
}
.about-content p{
    margin: 0px;
}

body[data-aos-duration="400"] [data-aos] {
    transition-duration: 1s !important;
}